/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}


html {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    --orange: rgba(255, 166, 0, 0.799);
    --orange-hover: orange;
    --red: rgba(255, 0, 0, 0.763);
    --red-hover: red;
}

body{
    width: 100%;
    height: 100%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}


/* Table styling */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(240,240,240);
}

/* APP STYLING */
.app {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 100%;
    height: 100%;
}

/* SIDERBAR STYLING */
.sidebar{
    background-color: rgb(237, 232, 232);
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.tasks > button{
    padding: 5px;
    text-align: left;
}

.tasks > .add-todo{
    height: 50px;
    background-color: var(--orange);
    text-align: center;
}

.tasks > .add-todo:hover{
    background-color: var(--orange-hover);
}


.projects{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.project-sidebar-buttons{
    display: flex;
    flex-direction:column;
    gap:10px;
}

.project-sidebar-buttons > button{
    padding: 5px;
    text-align: left;
}

.projects > .add-project{
    height: 50px;
    background-color: var(--orange);
}

.projects > .add-project:hover{
    background-color: var(--orange-hover)
}

/* Modal styling */
.form-input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/* Add project modal styling */
dialog {
    padding: 40px;
    min-width: 225px;
    margin-left: 40%;
    margin-top: 1%;
}

dialog h2{
    margin-bottom: 20px;
}

dialog input, dialog button, dialog textarea{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border-width: 1px;
}

dialog button{
    background-color: var(--orange);
    padding-inline: 15px;
}

 
dialog button:hover{
    background-color: var(--orange-hover);
}


.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}


/* MAIN CONTENT STYLING */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.todo-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    text-wrap: wrap;
    width: 100%;
}

.todo-item-buttons{
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.project-buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: right;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.edit-button, .delete-button{
    background-color: var(--orange);
    padding: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    border-width: 1px;
}

.edit-button:hover{
    background-color: var(--orange-hover);
}

.delete-button{
    background-color: var(--red);
}

.delete-button:hover{
    background-color: var(--red-hover);
}


.todo-item > p{
    text-wrap: wrap;
    word-break: break-word;
}

